.container {
  max-width: 50%;
  min-width: 359px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
}
.form-control::placeholder {
  color: #66b2d4;
}
.form-control:focus {
  border-color: #66b2d4;
  box-shadow: 0 0 0 0.2rem #dff2fc;
}
.searchCityButton {
  background-color: white;
  border-color: white;
  color: #66b2d4;
}
.searchCityButton:hover {
  background-color: #66b2d4;
  border-color: #66b2d4;
  color: white;
}
h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
h3 {
  text-align: center;
  font-size: 30px;
}

img {
  display: block;
  margin: 0 auto;
}

.tempUnit {
  font-size: 15px;
  position: relative;
  top: -20px;
  left: 5px;
  font-weight: bold;
}
.weeklyTemperatures {
  text-align: center;
}
.weeklyTemperaturesIcons {
  text-align: center;
  color: white;
}
.weekDays {
  text-align: center;
}
.weatherDescription {
  font-size: 15px;
}
.author {
  text-align: center;
  padding-top: 10px;
  color: white;
}
.gitHubLink {
  color: white;
  text-decoration: none;
}
.gitHubLink:hover {
  color: #dff2fc;
  text-decoration: none;
}
.todaysTemp {
  font-size: 40px;
  padding-left: 15px;
}
.pictureWeather {
  padding: 0px;
}
.dayElement {
  padding-left: 10px;
}
.tempElement {
  padding-left: 16px;
}
.box {
  padding-right: 33px;
}
.iconElement {
  padding-right: 10px;
}
